<h1>Administraci&oacute;n de inventarios</h1>

<table style="border: 0px; text-align: center; width: 100%; height: 300px;">
  <tbody>
    <tr>
      <td class="form-group"><a [routerLink]='["/elementos"]' class="btn btn-primary">Elementos</a></td>
      <td class="form-group"><a [routerLink]='["/personas"]' class="btn btn-primary">Personas</a></td>
      <td class="form-group"><a [routerLink]='["/personaelementos"]' class="btn btn-primary">Elementos por persona</a></td>
    </tr>
    <tr>
      <td class="form-group"><a [routerLink]='["/areas"]' class="btn btn-primary">Áreas</a></td>
      <td class="form-group"><a [routerLink]='["/telementos"]' class="btn btn-primary">Tipos de elemento</a></td>
      <td class="form-group"><a [routerLink]='["/tdocumentos"]' class="btn btn-primary">Tipos de documento</a></td>
    </tr>
  </tbody>
</table>

<footer class="card-footer">
  <span class="card-title">Desarrollado por Michel Eduardo Gomez Cubillos</span>
  <br />
  <span class="card-title"><a href="https://mikegomezsoftware.com" class="card-link">Sitio web</a></span>
</footer>
